
     .navbar {
        background-colour:black;
        
     }
     .navbar li{
        float:left;
        list-style:none;
     }
     .navbar li{
        float:left;
        list-style:none:
     }
     .navbar li{
        padding:3px 3px;
        text-decoration:none;
     }
   }